.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 0;
  padding:0;
  font-family: 'Ubuntu';
  font-weight: 400;
}

.addButton {
  background-color: rgb(58, 185, 201);
  box-shadow: 0px 2px 4px rgb(77, 57, 77);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
  color: aliceblue;
  z-index: 1;

  position: fixed;
  bottom: 34px;
  right: 34px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 60px;
  width: 60px;

  content: attr(data-message);
  transform: rotate(0);
  transition: .15s ease;
}

.addButton:hover {
  transform: rotate(270deg);
  background-color: aqua;
}

